<h1>Comments</h1>

<h1 class="topic-button text-center">
  <%= link_to "Add Comment", new_topic_post_comment_path%>
</h1>


<% @comments.each do |comment| %>
  <div class="comment">
    <h3><%= comment.body %></h3>
    <%= image_tag comment.image %>
    <br>
    <%= link_to "Edit Comment", edit_topic_post_comment_path(comment.post.topic,comment.post,comment)%>
    <br>
    <%= link_to "Delete Comment", topic_post_comment_path(comment.post.topic,comment.post,comment), method: :delete, data: { confirm: "Delete?" }%>
  </div>
<% end %>
