<div class="landing">
<div class="background">
  <div class="content">
    <h1 class="welcome"> Welcome to Magic Forum </h1>
  </div>
</div>

<div class="background2">
  <div class="content">
    <h1 class="welcome-text"> Where cool people meet </h1>
  </div>
</div>

<section class="features">
  <div class="feature text-center">
    <%= fa_icon 'globe 5x', class: "featurecolor" %>
    <h4> A Global Community </h4>
    <p> We are all around the world!</p>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'users 5x', class: "featurecolor1" %>
    <h4> A Friendly Community </h4>
    <p> We are friendly!! Please don't be shy.</p>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'star 5x', class: "featurecolor3" %>
    <h4> A 5-star Community </h4>
    <p> Hey we know almost everything! Just ask!</p>
  </div>
  <div class="feature text-center">
    <%= fa_icon 'rocket 5x', class: "featurecolor2" %>
    <h4> A Growing Community </h4>
    <p> Thanks to you, we are growing everyday!</p>
  </div>
</section>

<section class= "minipics">
  <div class= "minipics-child">
    <div class= "invisible-layout">
        <h3> Cars </h3>
    </div>
    <%= image_tag 'cars.jpeg', class: "image-setting" %>
  </div>
  <div class= "minipics-child">
    <div class= "invisible-layout">
        <h3 > Sports </h3>
    </div>
    <%= image_tag 'surf.jpeg', class: "image-setting" %>
  </div>
  <div class= "minipics-child">
    <div class= "invisible-layout">
        <h3 > Fashion </h3>
    </div>
    <%= image_tag 'shoe.jpeg', class: "image-setting" %>
  </div>
  <div class= "minipics-child">
    <div class= "invisible-layout">
        <h3 > Technology </h3>
    </div>
    <%= image_tag 'tech.jpeg', class: "image-setting" %>
  </div>

</section>

<section class= "contact-container text-center">
<div class="bottom">
  <div class="content">
    <h1 class="my_contact"> My Contact Information </h1>
    <hr class="short-underline">
    <h3>Heres our contact information. Give us a call or just drop us an email! We love to hear your thoughts on anything that you are interest to!!</h3>

  </div>
</div>
</section>

<section class="bottom-icon">
  <div class="last-icon text-center">
    <%= fa_icon 'phone-square 5x' %>
    <h4> 03-55445544 </h4>

  </div>
  <div class="last-icon text-center">
    <%= fa_icon 'envelope 5x'%>
    <h4> santa@claus.com </h4>
  </div>
</section>


</div>
